In [2]:
import pandas as pd

In [5]:
portions_data1 = {'order_id': [2, 1, 3], 'item_name':['Burger', 'Pizza', 'Salad'],
'quantity': [2, 1, 3]}
orders_df = pd.DataFrame(portions_data1)

portions_data2 = {'order_id' : [4, 6, 5], 'item_name': ['Soup', 'Burger', 'Wok'],
'quantity': [1, 3, 4]}
portions_df =pd.DataFrame(portions_data2)

pd.concat([orders_df, portions_df])

   order_id item_name  quantity
0         2    Burger         2
1         1     Pizza         1
2         3     Salad         3
0         4    Burger         1
1         6      Soup         3
2         5       Wok         4

In [8]:
orders_df = pd.DataFrame(['Burger', 'Pizza', 'Salad'], index=[2, 1, 3])
portions_df = pd.Series(['Burger', 'Soup', 'Wok'], index=[6, 4, 5])
pd.concat([orders_df,portions_df])

        0
2  Burger
1   Pizza
3   Salad
6  Burger
4    Soup
5     Wok

In [9]:
orders_df = pd.DataFrame(np.array([[1, 2], [4, 5]]), columns=['a', 'b'], index=[0,1])
portions_df = pd.DataFrame(np.array([[6, 7], [8, 9]]), columns=['c', 'd'], index=[0,1])
pd.concat([orders_df, portions_df], axis=1)

NameError: name 'np' is not defined