In [1]:
import pandas as pd

url ="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep ='\t')

In [2]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.shape
chipo.shape[0]#rivit/rows
chipo.shape[1]#sarakkeet/cloumns

5

In [7]:
#print the name of all the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
#To return index  labels used in the chipo DataFrame
chipo.index
# To return a two-dimensional NumPy array that contains the data stored in the DataFrame.
chipo.values

array([[1, 1, 'Chips and Fresh Tomato Salsa', nan, '$2.39 '],
       [1, 1, 'Izze', '[Clementine]', '$3.39 '],
       [1, 1, 'Nantucket Nectar', '[Apple]', '$3.39 '],
       ...,
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        '$11.25 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]', '$8.75 '],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]',
        '$8.75 ']], dtype=object)

In [10]:
# Get data types of multiple columns
column_data_type = chipo.dtypes
print(column_data_type)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [13]:
# Get data type of a single column
column_data_type = chipo['item_price'].dtype
print(column_data_type)

object

In [17]:
chipo.sort_values("item_price", ascending=False)

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],$1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09
3162,1262,1,Canned Soda,[Coca Cola],$1.09
821,338,1,Canned Soda,[Coca Cola],$1.09
1457,591,1,Canned Soda,[Sprite],$1.09

In [18]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

In [20]:
chipo['total'] = chipo['quantity']*chipo['item_price']

chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [22]:
def categorize_price(item_price):
    if item_price < 5:
        return 'Halpa'
    elif item_price < 10:
        return 'Keskihintainen'
    else:
        return 'Kallis'
    
chipo['price_group'] = chipo['item_price'].apply(categorize_price)
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,total,price_group
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39,Halpa
1,1,1,Izze,[Clementine],3.39,3.39,Halpa
2,1,1,Nantucket Nectar,[Apple],3.39,3.39,Halpa
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39,Halpa
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96,Kallis